.tree {
  padding: 20px;
  background: linear-gradient(#fff, #f2f2f2);
}

.tree .node {
  margin: 10px 0;
  padding: 0 0 20px 20px;
  background-color: rgba(0,0,0,.02);
  overflow: hidden;
}

.tree .node .query {
  text-decoration: none;
}

.tree .node .query .count {
  font-weight: 200;
  color: rgba(0,0,0,.3);
  margin-left: 10px;
}

.tree .node .articles {
  border-left: 1px solid rgba(0,0,0,.05);
}

.tree .node .articles .article {
  color: #444;
  cursor: pointer;
}

.tree .node .articles .article .article-title {
  line-height: 1;
  display: block;
  margin: 5px 0;
  color: #222;
}

.tree .node .articles .article[data-has-nodes=true] {
  font-weight: bold;
}

.tree .node .articles .article:hover {
  color: #777;
}